table {
  display: inline-block;
  border: 1px solid black;
  margin-left: 20px;
  //min-width: 20px;
	//min-height: 20px;
  tr, td {
    border: 2px solid #04B431;
    width: 30px;
    height: 30px;
    padding: 7px 7px 2px 7px;
    background-color: black;
    overflow: hidden;
  }
}

.boardp1 {
  float: left;
}

.boardp2 {
  float: right;
}


h1 {
  margin-left: 55px;
  font-family: Consolas,monaco,monospace;
  text-align: center;
}

.messagediv {
  margin-top: 15px;
  margin-left: 25px;
  font-family: Consolas,monaco,monospace;
}

.hidden {
  display: none;
}

caption {
  background-color: black;
  overflow: hidden;
  font-family: Consolas,monaco,monospace;
  font-style: bold;
  color: white;
}

.join {
  display: block;
  margin-top: 10px;
  margin-bottom: 10px;
  margin-left: auto;
  margin-right: auto;
}

.set1, .set2 {
  margin: 20px 20px;
}

img {
  max-height: 30px;
  max-width: 30px;
}
