doctype html
html(lang='en-US')
  head
    meta(charset='utf-8')
    meta(http-equiv='X-UA-Compatible', content='IE=edge')
    meta(name='viewport', content='width=device-width, initial-scale=1')
    title Battleship
    link(rel='stylesheet', href='css/main.css')
  body
      <!--[if lt IE 9]><script src="http://html5shiv.googlecode.com/svn/trunk/html5.js"></script><![endif]-->
    h1 BATTLESHIP APP

    .buttondiv
      button.start Start Game
      button.set Place Your Ships

    .container
      
      table.board
        tbody
            tr
              td.cell-0-0
              td.cell-0-1
              td.cell-0-2
              td.cell-0-3
              td.cell-0-4
            tr
              td.cell-1-0
              td.cell-1-1
              td.cell-1-2
              td.cell-1-3
              td.cell-1-4
            tr
              td.cell-2-0
              td.cell-2-1
              td.cell-2-2
              td.cell-2-3
              td.cell-2-4
            tr
              td.cell-3-0
              td.cell-3-1
              td.cell-3-2
              td.cell-3-3
              td.cell-3-4
            tr
              td.cell-4-0
              td.cell-4-1
              td.cell-4-2
              td.cell-4-3
              td.cell-4-4


  // build:js js/vendor.min.js
  // bower:js
  // endbower
  // endbuild

  // build:js js/main.min.js
  script(src="/scripts/index.js")
  // endbuild